language: python
python:
    - "3.6"
install:
script:
    - python setup.py test
services:
    - postgresql
addons:
  postgresql: 9.6
  apt:
    packages:
    - postgresql-9.6-postgis-2.3
before_script:
  - psql -c 'create database test;' -U postgres
  - psql -d test -U postgres -c "create extension postgis"
